html,body {
    height:100%;
    width: 100%;
    padding:0;
    margin:0;
    /*background-color: lightgreen;*/
}

p {
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 1.5rem;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 100;
    margin: 0;
}

#header {
    position: relative;
    width: 100%;
}

#logo {
    position: absolute;
    z-index: 800;
    top: 30px;
    width: 60%;

}

#fbIcon {
    position: absolute;
    z-index: 799;
    top: 30px;
    right: 20px;
    width: 5%;  
}


#mainPic {
    position: relative;
    z-index: 0;
    width: 100%;

}

#menuBar {
    position: absolute;
    top: 63%;
    right: 0;
    z-index: 900;
    width: 35%;
    background-color: rgba(242, 235, 226, .8);
}

a {
    text-decoration: none;
    color: rgba(35, 31, 32, 1);
}

.menuItem {
    display: inline-block;
    margin: 0;
    padding: 5px 10px;


}

.menuText {
        font-size: .7rem;
        font-weight: 700;
        text-align: center;
        /*padding-top: 10%;*/
        /*padding-bottom: 10%;*/
        line-height: .9;
        margin: 0;
        color: rgba(35, 31, 32, 1);
        font-family: 'Coustard', serif;  
            /*background-color: rgba(242, 235, 226, .8);*/
    /*border: none;
    border-radius: 5px; */
    }

#storyBar {
    position: relative;
    display: inline-block;
    z-index: 100;
    width: 100%;
    /*height: 100%;*/
    margin-top: -2%;
    background-color: rgba(35, 31, 32, 1);
}

h3 {
    font-size: 1.3rem;
    /*padding-top: 1rem;*/
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 0;
    color: rgba(242, 235, 226, 1);
    font-family: 'Coustard', serif;
}

#storyBar p {
    padding: .5rem 1rem 1rem 1rem;
    color: rgba(242, 235, 226, 1);
    margin: 0;    
}

#flavorIntro {
    background-color: rgba(12, 140, 68, 1);
    width: 100%;
    display: inline-block;
}

#flavorIntro p {
    padding: .5rem 1rem 1rem 1rem;
    color: rgba(242, 235, 226, 1);
    margin: 0;

}

#orderInfo {
    display: inline-block;
    background-color: rgba(72, 146, 206, 1);
    width: 100%;
    /*height: 50%;*/
}

#orderInfo p {
    padding: 1rem;
    color: rgba(242, 235, 226, 1);
    margin-bottom: 0;

}

.flavor {
    margin: 0;
}

#partyDiv {
    width: 100%;
    /*height: 50%;*/
    padding-bottom: 20px;
    background-color: rgba(255, 100, 164, 1)
}

#partySvg {
    width: 90%;
    display: block;
    margin: 0 auto;
    padding-top: 2rem;
}

#goUp {
    width: 100px;
    text-align: center;
    position: fixed;
    z-index: 1000;
    bottom: 5px;
    right: 0;

}

#goUp p{
    font-family: 'Coustard', serif;  
    font-size: .8rem;
    background-color: rgba(242, 235, 226, .6);
    padding: 0 5px 0 5px;
    
}

#ryanSig {
    width: 100px;
    margin-left: 30px;
        padding-bottom: 20px;

}

#ingredientsAllergens {
    display: inline-block;
    /*background-color: gray;*/
    width: 100%;
}

#ingredientsAllergens h3 {
    color: rgba(35, 31, 32, 1);
}

#ingredients {
/*color: rgba(242, 235, 226, 1);*/
color: rgba(35, 31, 32, 1);
margin: 20px;
}

@media(min-width: 500px) {
    #fbIcon {
    right: 30px;
  
}
    .flavor {
        width: 49%;
    }

    .menuItem {
        width: 166px;
    }

    .menuText {
        font-size: .9rem;
    }
}

@media(min-width: 700px) {
    #logo {
        width: 50%;
    }

    .menuItem {
        width: 230px;
    }


    .menuText {       
        padding-top: 10%;
        padding-bottom: 10%;
    }

    #storyBar {
    margin-top: -10%;
    }

    #menuBar {
    top: 70%;
}


    .flavor {
        width: 32%;
    }
}

@media(min-width: 900px) {
        .flavor {
        width: 24%;
    }

    .menuItem {
        width: 300px;
    }

    .menuText {
        font-size: 1rem;
    }

}

@media(min-width: 1100px) {
#mainPic {
margin-top: -10%;
}

#storyBar {
    margin-top: -15%;
    }

        #menuBar {
    top: 60%;
}

}

.bold {
    font-weight: 600;
}




